/* General Styles */
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

header {
    text-align: center;
    padding: 3em;
    background-color: #4285f4;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

header img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
}

header img:hover {
    transform: scale(1.1) rotate(360deg);
}

nav {
    background-color: #34495e;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    padding-top: 1em;
    transition: background-color 0.5s, color 0.5s, width 0.5s, transform 0.5s; /* Added transition property */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

section {
    margin-left: 220px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    opacity: 0;
    animation: fadeIn 1s ease forwards, slideIn 1s ease;
    transition: background-color 0.5s, color 0.5s, transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

body.dark-mode {
    background-color: #2c3e50;
    color: #bdc3c7;
}

header.dark-mode {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-bottom: 4px solid #3498db;
}

nav.dark-mode {
    background-color: #2c3e50;
    color: #bdc3c7;
}

section.dark-mode {
    background-color: #34495e;
    color: #ecf0f1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    transition: background-color 0.5s, color 0.5s;
}

footer:hover {
    background-color: #34495e;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}

/* Switch styles */
.switch {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 999; /* Ensure it stays on top */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #8899ff 50%, #776600 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
    z-index: 1; /* Ensure it stays on top */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffd700;
    transition: transform 0.4s ease;
}

input:checked + .slider {
    background-position: right bottom;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2c3e50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Hover effect on sections */
section:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

/* Responsive adjustments for smaller screens */
@media only screen and (max-width: 768px) {
    section {
        margin-left: 10px; /* Adjust this value as needed */
    }

    nav {
        width: 100%; /* Take full width on smaller screens */
        padding-top: 2em;
        display: none;
    }

    nav.show-mobile-nav {
        display: block; /* Show when toggled on */
    }

    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        text-align: right;
        padding: 10px;
        color: #333;
        background-color: #f8f8f8;
    }

    .mobile-nav-toggle:hover {
        background-color: #ddd;
    }
}
